In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mlt
import seaborn as sn
import fuzzywuzzy as fw

In [ ]:
pd.options.display.max_columns=50
sn.set(style="whitegrid", rc={"axes.facecolor":"#CAF1DE"})

In [15]:
df = pd.read_csv('mine.csv')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# Check shape

In [3]:
df.shape

(169, 4)

# Check for null values

In [11]:
df.isnull().sum().sort_values(ascending=False)

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

# Filling the null values with the average of the column

In [10]:
mean_value = df['Calories'].mean()
df['Calories'].fillna(mean_value, inplace=True)

# Check data types

In [14]:
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

# check For duplicates

In [25]:
df.duplicated().sum()

0

# Drop duplicates

In [24]:
df.drop_duplicates(keep='first', inplace=True)

0

# Check Statistical Info

In [33]:
df.describe(include="int64").T

379.4146496815287

# Check Infor

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  162 non-null    int64
 1   Pulse     162 non-null    int64
 2   Maxpulse  162 non-null    int64
 3   Calories  162 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.3 KB

# Check Unique data

In [35]:
for i in df.columns:
    print(i, "------", df[i].unique())

Duration ------ [ 60  45  30  80  20 210 160 180 150 300  90 120 270  15  25  75]
Pulse ------ [110 117 103 109 102 104  98 100 106  90  97 108 130 105  92 101  93 107
 114 111  99 123 118 136 121 115 153 159 149 151 129  83  80 150  95 152
 137 124 116 112 119 113 141 122  85 120 125]
Maxpulse ------ [130 145 135 175 148 127 136 134 133 124 147 120 128 132 123 112 125 131
 119 101 126 118 129 115 113 140 122 138 153 139 146 151 121 144 172 152
 160 137 141 143 182 169 170 157 103 107 100 171 168 110 108 184 156 162
 149 150 167]
Calories ------ [ 409.1         479.          340.          282.4         406.
  300.          374.          253.3         195.1         269.
  329.3         250.7         345.3         379.3         275.
  215.2         379.41464968  323.          243.          364.2
  282.          246.          334.5         250.          241.
  280.          380.3         180.1         299.          223.
  361.          415.          266.          286.          329.4
  400.          397.          273.          387.6         298.
  397.6         380.2         643.1         263.          486.
  238.          450.7         413.          305.          226.4
  321.         1376.         1034.4         853.          341.
  131.4         800.4         873.4         816.          110.4
 1500.2        1115.          700.          953.2         304.
  563.2         251.          500.4        1729.          319.2
  344.          151.1         500.          225.3         234.
 1000.1         242.           50.3         600.1         105.3
   50.5         127.4         229.4         128.2         244.2
  188.2         604.1          77.7          92.7         124.
  800.3          86.2         500.3        1860.4         325.2
  124.2         367.6         351.7         443.          277.4
  332.7         193.9         100.7         336.7         344.9
  368.5         271.          275.3         382.          466.4
  384.          342.5         357.5         335.          327.5
  339.          189.          317.7         318.          308.
  222.4         390.          250.4         335.4         470.2
  270.8         361.9         185.          409.4         343.
  353.2         275.8         328.          270.4         382.8
  240.9         260.4         270.          280.9         290.8
  310.2         320.4         330.4       ]

# check the very last rows

In [29]:
df.tail()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

# Check the very last rows

In [ ]:
df.head()

# Removing wrong DATA

In [38]:
#Replacing NaN values
df['Calories'] = df['Calories'].replace(np.nan, df['Calories'].mean())
df['Maxpulse'] = df['Maxpulse'].replace(np.nan, df['Maxpulse'].mean())
df['Pulse'] = df['Pulse'].replace(np.nan, df['Pulse'].mean())
df['Duration'] = df['Duration'].replace(np.nan, df['Duration'].mean())
#Replacing empty values
df['Calories'] = df['Calories'].replace('', df['Calories'].mean())
df['Maxpulse'] = df['Maxpulse'].replace('', df['Maxpulse'].mean())
df['Pulse'] = df['Pulse'].replace('', df['Pulse'].mean())
df['Duration'] = df['Duration'].replace('', df['Duration'].mean())

# Correlation

In [40]:
correlation_matrix = df.corr()
print(correlation_matrix)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.162098  0.003578  0.921810
Pulse    -0.162098  1.000000  0.787035  0.015198
Maxpulse  0.003578  0.787035  1.000000  0.193836
Calories  0.921810  0.015198  0.193836  1.000000